.dropdown-menu {
  width: 140px;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  text-align: flex-start;
}

.dropdown-menu li {
  background: #FFF;
  cursor: pointer;
}

.dropdown-menu li.last {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.dropdown-menu li:hover {
  background: #EEE;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #404559;
  padding: 16px;
  text-align: center;
}

@media screen and (max-width: 1065px) {
  .dropdown-menu {
    width: 90%;
    position: relative;
    background-color: #EEE;
    top: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .dropdown-menu li {
    background-color: transparent;
  }
}
